.section-companies{
    padding: 2rem 3rem;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.section-companies > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    margin-bottom: 3rem;
}

.slider-arrow{
    width: 1rem;
    cursor: pointer;
    padding: .5rem;
}

.slider-arrow2{
    transform: rotate(180deg);
}

.slider-companies{
    width: 70vw;
    display: flex;
    margin: 3%;
    overflow-x: hidden;
}

.slider-companies > div{
    width: 23vw;
    min-height: 18vw;
    min-width: 27.33%;
    max-width: 280px;
    max-height: 280px;
    padding: 3%;
    margin: 0;
}

.slider-companies > div > div{
    width: 100%;
    height: 100%;
    border-radius: 3vw;
}

@media screen and (min-width:1400px){
    .slider-companies > div{
        min-height: 280px;
    }
}

