:root{
    font-size: 16px;
}

@font-face {
    font-family: BebasNeue;
    src: url(./src/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: Gothic;
    src: url(./src/Gothic-light.TTF);
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #f2f2f2;
}

p, a{
    font-family: Gothic;
    font-weight: 600;
    text-decoration: none;
}

h1, h3{
    font-family: BebasNeue, sans-serif;
    font-weight: 100;
    text-decoration: none;
    text-align: justify;
}

li{
    list-style: none;
}

h1{
    font-size: 3.2rem;
    text-align: center;
}

p{
    font-size: 1.8rem;
}

.deploy-section{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.938);   
    z-index: 1000;
    box-shadow: 0px 0px 20px;
    transition: clip-path 1s;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 2.5rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.deploy-section ul{
    margin-top: 2rem;
    display: flex;
    place-items: center;
    flex-direction: column;
    gap: 2.5rem;
    transition: all .5s;
}

.deploy-section li a{
    color: white;
    border-radius: 2rem;
    padding: .5rem;
    transition: padding,color,background-color .5s;
}

.deploy-section ul li a:hover{
    color:#630f40;
    background-color: white;
    transition: color,background-color .5s;
}

.deploy-button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 3rem;
    right: 3rem;
    z-index: 1000;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: white;
    border: solid .2rem;
    cursor: pointer;
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.267);
    transition: color,background-color .5s;
}

.deploy-button:hover{
    color: white;
    background-color: black;
    border-color: white;
}

.exit-deploy-button:hover{
    color: white;
    background-color: darkred;
}

.deploy-button *{
    width: 60%;
}

.exit-deploy-button{
    width: 2rem;
    height: 2rem;
    margin: 2rem;
    margin-left: 4rem;
    background-color: white;
    border-radius: 50%;
    padding: .5rem;
    display: flex;
    cursor: pointer;
    color: darkred;
    transition: color,background-color .5s;
}

.hide{
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition: clip-path .5s;
}

.main-page{
    background-color: #630f40;
    color: white;
    height: 90vh;
    padding: 0 3rem;
    min-height: 600px;
}

.main-page > h1{
    text-align: center;
    font-size: 5vw;
    font-family: Gothic;
    position: relative;
    top: 2rem;
}

.main-page > div{
    display: grid;
    max-width: 1440px;
    grid-template-columns: 45% 35%;
    gap: 10%;
    justify-self: center;
    margin: auto;
    align-items: center;
    height: 80%;
}

.main-page > div h3{
    font-size: 5vw;
    justify-self: center;
    text-align: left;
    animation: logoTextMovement 3s ease 1s;
    
}

.main-page > div img{
    width: 70%;
    min-width: 100px;
    justify-self: center;
    max-width: 350px;
    animation: logoMovement alternate 1s infinite linear;
}

@keyframes logoTextMovement{
    from{
       text-shadow:transparent;
    }
    30%{
        text-shadow:0 0 1rem #ffffffb2 
    }
    to{
        
       text-shadow: transparent;
    }
}

@keyframes logoMovement {
    from{
        transform: translateY(-1rem);
    };
    to{
        transform: translateY(0rem);
    }
}

.divider{
    height: 10vh;
    font-size: 2rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d2046;
    color: white;
    font-family: BebasNeue;
}
.divider h4{
    font-weight: 100;
    font-family: Gothic;
    letter-spacing: .2vw;
    text-align: center;
}

.section-mision-vision{
    background-color: #630f40;
    padding: 5rem 3rem;
    color: white;
}

.section-mision-vision h1{
    text-align: left;
    margin: 1rem;
}

.section-mision-vision p{
    margin-bottom: 3.5rem;
}

.section-about{
    padding: 5rem 3rem;
    padding-bottom: 3.5rem;
}

.section-about h1{
    margin: 1rem;
}

.section-about p{
    margin-bottom: 3.5rem;
    
}

.section-services{
    background-color: lightgray;
    padding: 5rem 3rem;
    padding-bottom: 6rem;
}

.section-services h2{
    font-family: BebasNeue;
    font-weight: 400;
    font-size: 2rem; 
}

.section-services p{
    padding-bottom: 3.5rem;
}

.img-src{
    height: 90vh;
    background-image: url(./src/rrhhSrc.jpg);
    background-position: left;
    background-size: cover;
}

footer{
    background-color: gray;
    color: white;
}

footer li{
    font-size: 1.3rem;
}

footer a{
    color: white;
    transition: color .2s;
}

footer *{
    text-align: center;
}

footer h1{
    font-size: 2rem;
    margin-top: 1rem;
}

footer p{
    font-size: 1.3rem;
}

footer a:hover{
    color: gold;
}

.footer-information{
    display: grid;
    grid-template-columns: 50% 45%;
    margin: 2rem auto;
}

.social-media{
    padding: .2rem;
    background-color: darkgray;
}

.social-media ul{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-media ul li, .social-media ul li *{
    width: 3.8vw;
    min-width: 30px;
    max-width: 60px;
}

#copyright{
    font-size: 1.2rem;
    font-family: sans-serif;
}

@media screen and (max-width: 900px){
    .main-page{
    min-height: 400px;
    }
    .main-page > div{
        grid-template-columns: 100%;
        margin-top: 6rem;
    }
    .main-page > div h3{
        font-size: 3.2rem;
    }
    .main-page > div img{
        width: 40%;
    }
    :root{
        font-size: 10px;
    }
    
}

@media screen and (min-width: 1440px){
    .main-page > h1{
        font-size: 85px;
    }
    .main-page > div h3{
        font-size: 70px;
    }
}


